*{
    margin: 0;
    padding: 0;
}

@font-face{
    font-family: LaoMuangDon-Regular;
    src: url(/fonts/LaoMuangDon-Regular.ttf);
}

nav{
    display: flex;
    width: 98%;
    padding-right: 2%;
    justify-content: space-between;
    align-items: center;
    background-color:#1C1D1F;
    color: white;
    font-family: "inter", "sans-serif";
    font-size: 24px;
    box-shadow: 0px 5px 7px black;
}

.a-header{
    text-decoration: none;
    color: white;
    text-align: center;
}

main{
    padding-bottom: 1000px;
    background-image: url(/Img/zzz.png);
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 25px;
}

input{
    font-size: 25px;
    border-radius: 18px;
    padding-left: 30px;  
    outline: none;
}

input:focus{
    border: 2px solid red;
}

.iconos{
    width: 16.6%;
    display: flex;
    justify-content: space-between;
    font-size: 50px;
}

.cont-lupa{
    display: flex;
    align-items: center;
}

.cont-lupa i{
    color: black;
    position: absolute;
    font-size: 20px;
    margin-left: 7px;
}

h1{
    font-family: "LaoMuangDon-Regular";
    font-size: 80px;
}

.CodeCourse-Business{
    background-color: #1C1D1F;
    color: white;
    font-size: 35px;
    border-bottom: solid 3px #3E4143;
    padding: 25px;
}

.texto-footer{
    color: #EE0E51
}

.cajita-ambos{
    background-color: #1C1D1F;
    display: flex;
}

.contenedor-enlaces{
    font-size: 30px;
    width: 80%;
    height: 420px;
    background-color: #1C1D1F;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: left;
}

.contenedor-enlaces a{
    text-decoration: none;
    color: white;
    margin: 25px;
}

.logito{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 25px;
}
